@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240,240,240;
  --foreground: 25,25,25;
  --lighter-background: 230,230,230;
}
[data-theme='dark'] {
  --background: 25,25,25;
  --foreground: 240,240,240;
  --lighter-background: 60,60,60;
}

/** {*/
/*  border: 1px red solid;*/
/*}*/

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

.separate-bg {
  background-color: rgb(var(--lighter-background));
}

.invert-theme {
  color: rgb(var(--background));
  background-color: rgb(var(--foreground));
}
