@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=New+Amsterdam&display=swap');

.animation-button {
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.animation-button:hover {
    background-color: var(--color-backgroud);
    fill: white;
}

.animation-button:hover::before {
    transform: translateY(-65px) rotate(0deg);
    opacity: 1;
}

.animation-button:hover::after {
    transform: translateY(-43px) rotate(0deg);
    opacity: 1;
}

.animation-button::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--color-backgroud);
    transform: translateY(-10px) rotate(30deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
}

.animation-button::before {
    content: attr(buttonText);
    position: absolute;
    background-color: var(--color-backgroud);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(30deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);

    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}