.animation-button {
    background-color: rgb(var(--lighter-background));
    fill: rgb(var(--foreground));
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}


.animation-button:hover {
    background-color: var(--color-backgroud);
    fill: white;
}