.animation-button {
    background-color: rgb(25,25,25);
    fill: rgb(255,255,255);
    padding: 11px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 0 15px var(--color-backgroud);
}


.animation-button:hover {
    background-color: var(--color-backgroud);
    fill: white;
}